body {
    background-image: url("https://th.bing.com/th/id/OIP.U6kLIQpphUqEZzr3XmnNKwHaFo?rs=1&pid=ImgDetMain");
  }
  h1{
    text-align: center;
    color:aliceblue;
  }
  h3{
    text-align: center;
  }
 .card{
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
  padding: 5rem 2.5rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  backdrop-filter: blur(1rem);
  background-color: rgba(255,255,255,0.5);
  box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.5);
  border-top-color: rgba(255,255,255,0.5);
  border-left-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  border-right-color: rgba(255,255,255,0.5);
 }

