body {
    background-image: url("https://th.bing.com/th/id/OIP.U6kLIQpphUqEZzr3XmnNKwHaFo?rs=1&pid=ImgDetMain");
  }
  h1{
    text-align: center;
    color:aliceblue;
  }
  h3{
    text-align: center;
    color:aliceblue;
  }
  .form-group{
    color:aliceblue;
  }
  .form-check-inline{
    color:aliceblue;
  }
  .form-check{
    color:aliceblue;
  }
  .form-row{
    color:aliceblue;
  }
 .dropdown{
  color:aliceblue;
 }
